h5py==2.7.1
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
matplotlib==2.1.2
nltk==3.2.5
numpy==1.15.1
numpydoc==0.7.0
pickleshare==0.7.4
pydot==1.2.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
tensorboard==1.8.0
tensorflow-gpu==1.8.0
